<html>
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&amp;l='+l:'';j.async=true;j.src= '../../../../www.googletagmanager.com/gtm5445.html?id='+i+dl;f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','GTM-5FS8GGP');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8" />
    <title>| Keenthemes</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="canonical" href="https://keenthemes.com/metronic" />
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Global Theme Styles(used by all pages)-->
    <link href="../../theme/html/demo1/dist/assets/plugins/global/plugins.bundle49d8.css?v=7.2.8" rel="stylesheet" type="text/css" />
    <link href="../../theme/html/demo1/dist/assets/plugins/custom/prismjs/prismjs.bundle49d8.css?v=7.2.8" rel="stylesheet" type="text/css" />
    <link href="../../theme/html/demo1/dist/assets/css/style.bundle49d8.css?v=7.2.8" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles-->
    <!--begin::Layout Themes(used by all pages)-->
    <link href="../../theme/html/demo1/dist/assets/css/themes/layout/header/base/light49d8.css?v=7.2.8" rel="stylesheet" type="text/css" />
    <link href="../../theme/html/demo1/dist/assets/css/themes/layout/header/menu/light49d8.css?v=7.2.8" rel="stylesheet" type="text/css" />
    <link href="../../theme/html/demo1/dist/assets/css/themes/layout/brand/dark49d8.css?v=7.2.8" rel="stylesheet" type="text/css" />
    <link href="../../theme/html/demo1/dist/assets/css/themes/layout/aside/dark49d8.css?v=7.2.8" rel="stylesheet" type="text/css" />
    <!--end::Layout Themes-->
    <link rel="shortcut icon" href="https://preview.keenthemes.com/metronic/theme/html/demo1/dist/assets/media/logos/favicon.ico" />
    <!-- Hotjar Tracking Code for keenthemes.com -->
    <script>(function(h,o,t,j,a,r){ h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)}; h._hjSettings={hjid:1070954,hjsv:6}; a=o.getElementsByTagName('head')[0]; r=o.createElement('script');r.async=1; r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv; a.appendChild(r); })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');</script>
    <style>
        #custombackground{
            background-image: url("{{ asset('uploads/' ~ quiz.image) }} ");
            background-image: no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        .btn-primary {
            margin-top: 1%;

            background-color: #5CB85C !important;
            border-color: #5CB85C !important;
            border-radius: 6px;
        }
        .btn-primary:hover {
            opacity: 0.8;
            background-color: #5CB85C !important;
            border-color: #5CB85C !important;
            border-radius: 6px;
        }
        .btn-primary:active {
            background-color: #5CB85C !important;
            border-color: #5CB85C !important;
            border-radius: 6px;
        }
    </style>
</head>

<body>
<div class="container mt-5" >
    <div class="d-flex justify-content-center row" >
        <div class="col-md-10 col-lg-10" >
            <div class="border"  id="custombackground" >



                    <div class="question p-3 border-bottom" style="background-color: rgba(255,255,255,0.8);">
                        <div  class="d-flex flex-row justify-content-between align-items-center mcq">
                            <span></span>
                            <center style="margin-left: 10%; text-transform: uppercase; font-family: 'Microsoft Tai Le'  ; font-size: x-large ;color: black;">{{quiz.Title}}</center>
                            <input style="border: none; background-color:rgba(255,255,255,0);" />
                        </div>
                    </div>



                    <div class="question bg-transparent p-3 border-bottom" >
                        <div class=" container mt-5">
                            <div class="d-flex justify-content-center row">
                                <div class="col-md-10 col-lg-10">
                                    <div  id="addInfo">
                                        <div class=border>
                                            <div class="question p-3 border-bottom"  style="background-color: rgba(255,255,255,0.8);">
                                                <h4 style="margin-top: 2%; margin-left:2%;">Welcome in {{quiz.Title}}</h4>
                                                <center style="color:black;  text-transform: uppercase; font-family: 'Microsoft Tai Le'  ; font-size: large ; margin-top:5%;">Personal Information</center>
                                                {% for message in app.flashes('success') %}
                                                    <div class="alert alert-danger">
                                                        {{ message }}
                                                    </div>
                                                {% endfor %}
                                                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                                           
                                                {{ form_end (form)}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


            </div>
        </div>
    </div>
</div>

<script>var HOST_URL = "https://preview.keenthemes.com/metronic/theme/html/tools/preview";</script>
<!--begin::Global Config(global config for global JS scripts)-->
<script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1400 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#3699FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#E4E6EF", "dark": "#181C32" }, "light": { "white": "#ffffff", "primary": "#E1F0FF", "secondary": "#EBEDF3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#3F4254", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#EBEDF3", "gray-300": "#E4E6EF", "gray-400": "#D1D3E0", "gray-500": "#B5B5C3", "gray-600": "#7E8299", "gray-700": "#5E6278", "gray-800": "#3F4254", "gray-900": "#181C32" } }, "font-family": "Poppins" };</script>
<!--end::Global Config-->
<!--begin::Global Theme Bundle(used by all pages)-->
<script src="{{ asset('theme/html/demo1/dist/assets/plugins/global/plugins.bundle49d8.js?v=7.2.8')}}"></script>
<script src="{{ asset('theme/html/demo1/dist/assets/plugins/custom/prismjs/prismjs.bundle49d8.js?v=7.2.8')}}"></script>
<script src="{{ asset('theme/html/demo1/dist/assets/js/scripts.bundle49d8.js?v=7.2.8')}}"></script>
<script src="{{ asset('keenthemes.com/metronic/assets/js/engage_code.js')}}"></script>

</body>
</html>